{{!--
@icon       icon name to pass in http://miguelcobain.github.io/ember-paper/release-0-2/#/icons
--}}

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--floating-action mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">{{icon}}</i>
</button>
