{{!-- Accent-colored rectangular button-round

@action     - On-click action passed from route's .js file

--}}

<button {{action "doButtonThing"}} class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Continue</button>
