{{!-- Navigation bar across top of all pages

Passed in parameters:
@pageTitle

--}}

  <!-- user control panel only appears on main page -->
  {{#if (eq pageTitle "Classis")}}

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
      mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer">{{pageTitle}}</div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Account</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Username</a>
          <a class="mdl-navigation__link" href="">Profile</a>
          <a class="mdl-navigation__link" href="">Settings</a>
          <a class="mdl-navigation__link" href="">Logout</a>
        </nav>
      </div>
    </div>

  {{else}}

    <!-- back arrow appears on all other pages -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
      mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <!-- back arrow -->
        <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" onclick="history.go(-1);">
          <i class="material-icons">arrow_back</i>
        </button>
        <!-- page title -->
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer">{{pageTitle}}</div>
        </div>
      </header>
    </div>

  {{/if}}
