{{!-- Welcome card
  Used at the top of pages (as needed) to give helpful "what is this page for?" explanations

  Pass in:
  text        - text to print inside the card (keep it short)
--}}

<div class="welcome-card mdl-shadow--2dp">
  <p class="mdl-card__supporting-text">{{text}}</p>
</div>
