.photo-upload-empty {
  height:150px;
  width:100%;
  background-color:#efefef;
  color:#8e8e8e;
  text-align:center;
}

.mdl-button--floating-action {
  bottom:45px;
  margin-bottom:100px;
  padding-top:24px;
  position:fixed;
  right:24px;
  z-index:998;
}

.mj-user-menu-item .mdl-list__item-icon {
  vertical-align:middle;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

.center-card {
  margin: auto auto;
}
