<!-- main page of app -->
<p>Sell your expertise to eager students. Set your own prices and schedule, your place or theirs.</p>

<ul>
  <li>{{#link-to 'index.basics'}}Basics{{/link-to}}</li>
  <li>{{#link-to 'index.location'}}Location{{/link-to}}</li>
  <li>Student types</li>
  <li>Availability and pricing</li>
  <li>Inclusions and Exclusions</li>
  <li>Contact</li>
</ul>
