<!-- dynamic header -->
{{nav-header pageTitle=pageTitle classId=classId id="nav-header"}}
<br/><br/><br/>
<!-- shared page structure -->
<main>
  <div class="page-content">
    {{outlet}}
  </div>
</main>
