<div class="content-grid mdl-grid">

    <div class="mdl-cell">

    <!-- photo upload -->
    {{button-round icon="local_see"}}

    <!-- title -->
    {{paper-input label="Title" value=title required=true required-errortext="Title is required."}}

    <!-- longer description -->


  </div>
</div>
