<div class="content-grid mdl-grid">

    <div class="mdl-cell">

    <!-- photo upload -->
    {{button-round icon="local_see"}}

    <!-- title -->
    Title input 

    <!-- longer description -->


  </div>
</div>
