<!-- basics page -->
Step 1/6

<!-- photo upload -->
<div class="photo-upload-empty">
  <h3>Choose a photo</h3>
</div>

{{button-round icon="local_see"}}

<div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <!-- title -->
  <div class="mdl-textfield mdl-js-textfield">
    {{input class="mdl-textfield__input" type="text" id="title" value=(mut title) pattern="[A-Z,a-z, ]*"}}
    <label class="mdl-textfield__label" for="title">Title</label>
    <span class="mdl-textfield__error">Letters and spaces only</span>
  </div>

  <!-- longer description -->
  <div class="mdl-textfield mdl-js-textfield">
    {{textarea class="mdl-textfield__input" type="text" rows="4" maxrows="6" value=(mut description)
     id="description"}}
    <label class="mdl-textfield__label" for="schools">Description</label>
  </div>

  {{continue-button actionToCall="continue"}}

</div>
