<!-- dynamic header -->
{{nav-header pageTitle=pageTitle}}
<br/><br/><br/><br/>
<!-- shared page structure -->
<main class="mdl-layout__content">
  <div class="page-content">
    Seeing content from index.hbs

    Main.hbs should display here:
    {{outlet}}
  </div>
</main>
