<div class="content-grid mdl-grid">

<h2>Classis</h2>
<p>Sell your expertise to eager students. Set your own prices and schedule, your place or theirs.</p>

<ul>
  <li>{{#link-to "basics"}}Basics{{/link-to}}</li>
  <li>{{#link-to "location"}}Location{{/link-to}}</li>
  <li>Student types</li>
  <li>Availability and pricing</li>
  <li>Inclusions and Exclusions</li>
  <li>Contact</li>
</ul>

</div>
