<!-- location page -->
Step 2/6

<!-- your place or theirs checkbox -->
<div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">

  <p>Your training, group lesson, or tutoring
  may be at your client's location or your own.</p>

  {{input type="checkbox" checked=clientLocation}}

  Location: {{#if clientLocation}}Theirs{{else}}Yours{{/if}}

  {{#unless clientLocation}}

  <!-- address entry -->

  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="sample3">
      <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>
  </form>

  MAP HERE

  {{/unless}}

  {{continue-button destination="index"}}

</div>
